# Virtual environment
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos
*.sql
*.sqlite

# Variables de entorno
.env

# Logs
*.log
logs/

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/